# MAIL ML model

### Importing the dependencies...

In [3]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

### Data Collection &  Pre-Processing

In [5]:
data = pd.read_csv('dataset/mail_data.csv')

In [7]:
data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [10]:
# replace the null values with a null string...
data = data.where((pd.notnull(data)),'')

In [11]:
data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [12]:
# check the no of rows and columns in the dataframe
data.shape

(5572, 2)

### Label Encoding

In [13]:
# label spam mail as 0
# label ham mail as 1

data.loc[data['Category'] == 'spam', 'Category',] = 0
data.loc[data['Category'] == 'ham', 'Category',] = 1

In [15]:
data.head()

  Category                                            Message
0        1  Go until jurong point, crazy.. Available only ...
1        1                      Ok lar... Joking wif u oni...
2        0  Free entry in 2 a wkly comp to win FA Cup fina...
3        1  U dun say so early hor... U c already then say...
4        1  Nah I don't think he goes to usf, he lives aro...

In [16]:
data.tail()

     Category                                            Message
5567        0  This is the 2nd time we have tried 2 contact u...
5568        1               Will ü b going to esplanade fr home?
5569        1  Pity, * was in mood for that. So...any other s...
5570        1  The guy did some bitching but I acted like i'd...
5571        1                         Rofl. Its true to its name

In [17]:
X = data['Message']
Y = data['Category']

In [18]:
X

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will ü b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

In [19]:
Y

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: object

### Train Test Split

In [20]:
X_train, X_test, Y_train, Y_test= train_test_split(X, Y, test_size=0.2, random_state=3 )  # 0.2 represents 20 percentage of data..

In [24]:
print(X.shape)
print(X_train.shape)
print(X_test.shape)

(5572,)
(4457,)
(1115,)

### Feature Extraction

In [27]:
# transform the data to feature vectors that can be used as input to the Logistic regression....

feature_extraction = TfidfVectorizer(min_df = 1, stop_words = 'english' , lowercase = 'True')

X_train_features = feature_extraction.fit_transform(X_train)
X_test_features = feature_extraction.transform(X_test) 


# convert Y_train and Y_test as integers...

Y_train = Y_train.astype('int')
Y_test = Y_test.astype('int')

In [29]:
print(X_train_features)

  (0, 5413)	0.6198254967574347
  (0, 4456)	0.4168658090846482
  (0, 2224)	0.413103377943378
  (0, 3811)	0.34780165336891333
  (0, 2329)	0.38783870336935383
  (1, 4080)	0.18880584110891163
  (1, 3185)	0.29694482957694585
  (1, 3325)	0.31610586766078863
  (1, 2957)	0.3398297002864083
  (1, 2746)	0.3398297002864083
  (1, 918)	0.22871581159877646
  (1, 1839)	0.2784903590561455
  (1, 2758)	0.3226407885943799
  (1, 2956)	0.33036995955537024
  (1, 1991)	0.33036995955537024
  (1, 3046)	0.2503712792613518
  (1, 3811)	0.17419952275504033
  (2, 407)	0.509272536051008
  (2, 3156)	0.4107239318312698
  (2, 2404)	0.45287711070606745
  (2, 6601)	0.6056811524587518
  (3, 2870)	0.5864269879324768
  (3, 7414)	0.8100020912469564
  (4, 50)	0.23633754072626942
  (4, 5497)	0.15743785051118356
  :	:
  (4454, 4602)	0.2669765732445391
  (4454, 3142)	0.32014451677763156
  (4455, 2247)	0.37052851863170466
  (4455, 2469)	0.35441545511837946
  (4455, 5646)	0.33545678464631296
  (4455, 6810)	0.29731757715898277
  (4455, 6091)	0.23103841516927642
  (4455, 7113)	0.30536590342067704
  (4455, 3872)	0.3108911491788658
  (4455, 4715)	0.30714144758811196
  (4455, 6916)	0.19636985317119715
  (4455, 3922)	0.31287563163368587
  (4455, 4456)	0.24920025316220423
  (4456, 141)	0.292943737785358
  (4456, 647)	0.30133182431707617
  (4456, 6311)	0.30133182431707617
  (4456, 5569)	0.4619395404299172
  (4456, 6028)	0.21034888000987115
  (4456, 7154)	0.24083218452280053
  (4456, 7150)	0.3677554681447669
  (4456, 6249)	0.17573831794959716
  (4456, 6307)	0.2752760476857975
  (4456, 334)	0.2220077711654938
  (4456, 5778)	0.16243064490100795
  (4456, 2870)	0.31523196273113385

### Traing the Model

### ......Logistic Regression......

In [30]:
model = LogisticRegression()

In [31]:
# train the model
model.fit(X_train_features, Y_train)

LogisticRegression()

### Evaluating the model....

In [32]:
# predict using train data
prediction = model.predict(X_train_features)
accuracy = accuracy_score(Y_train, prediction)

In [34]:
accuracy     # accuracy score more than 0.95 the model is working well....

0.9670181736594121

In [35]:
# predict using test data
prediction2 = model.predict(X_test_features)
accuracy2 = accuracy_score(Y_test,prediction2)

In [36]:
accuracy2

0.9659192825112107

In [37]:
# OVERFIT : if the accuracy score on train data (0.96) and the accuracy score on test data (0.70).... comparatively very less...

### Building the predictive system...

In [38]:
input_mail = ["Hai, You won the bonus cash rupee 10,000 on free at Junglee rummy circle.Download the app now.."]

# Convert text to the feature vectors 
input_data_features = feature_extraction.transform(input_mail)

# making the prediction
predictionInput =model.predict(input_data_features)

In [39]:
predictionInput

array([0])

In [40]:
if(predictionInput[0]==1):
    print("ham mail")
else:
    print("Spam mail")

Spam mail

### Save the model ....

In [42]:
import joblib
joblib.dump(model,'mail.pkl')

['mail.pkl']

### Save the feature_extraction

In [52]:
joblib.dump(feature_extraction,'feature_extraction.pkl')

['feature_extraction.pkl']